node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.next
.pnp.caches
.pnp.loader.mjs
.pnp.loader.mjs.cache
.pnp.loader.mjs.cache.json